body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    font-size: 250%;
    background-color: #007afc;
    color: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}

.InputSelectLuas {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}